body {
    font-size: 0px;
}

.status-container {
    display: inline-block;
    opacity: 0.85;
    max-width: 1000px;
    transition: opacity 0.5s ease-in, max-width 0.5s ease-in;
}
.status-container.hidden {
    opacity: 0;
}

.status-container:before, .status-container:after, .track-container:before, .track-container:after {
    display: inline-block;
    content: " ";
    height: 39px;
    width: 39px;
    margin-bottom: -11px;
    background-color: rgba(30, 33, 36, 0.75);
}

.status-container:before, .track-container:before {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
    margin-right: -0.5px;
}

.status-container:after, .track-container:after {
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
    /*margin-left: -0.5px;*/
}

.status-text, .track {
    display: inline-block;
    height: 31px;
    line-height: 31px;
    background-color: rgba(30, 33, 36, 0.75);
    color: white;
    font-family: "Whitney", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 12px;
    text-align: left;
}

#now-playing-container {
    margin-left: -25px;
}

#follower-text span.value {
  color: #FFEB3B;
}

#now-playing-text span.prefix {
  color: #00C853;
}

#queue-container {
  font-family: "Whitney", sans-serif;
  overflow: hidden;
  width: 1000px;
  height: 220px;
  white-space: nowrap;
  opacity: 0.85;
}

#queue-header {
  position: relative;
  font-size: 28px;
  color: white;
  margin-left: 39px;
  left: 0px;
}

.track-container {
  margin-bottom: 5px;
  position: relative;
  left: 0px;
  opacity: 1;
}

.track-container, #queue-header {
  transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
}

.track-container.hidden, #queue-header.hidden {
  left: -300px;
  opacity: 0;
}

.track-title {
  color: #FFEB3B;
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url(Whitney.woff) format('woff')
}
