body {
    font-size: 0px;
}

.status-container {
    display: inline-block;
    opacity: 1;
    max-width: 1000px;
    transition: opacity 0.5s ease-in, max-width 0.5s ease-in;
}
.status-container.hidden {
    opacity: 0;
}

.status-container:before, .status-container:after {
    display: inline-block;
    content: " ";
    height: 39px;
    width: 39px;
    margin-bottom: -11px;
    background-color: rgba(30, 33, 36, 0.95);
}

.status-container:before {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
    margin-right: -0.5px;
}

.status-container:after {
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
    margin-left: -0.5px;
}

.status-text {
    display: inline-block;
    height: 31px;
    line-height: 31px;
    background-color: rgba(30, 33, 36, 0.95);
    color: white;
    font-family: "Whitney", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 12px;
    text-align: left;
}

#now-playing-container {
    margin-left: -25px;
}

#follower-text span.value {
  color: #FFEB3B;
}

#now-playing-text span.prefix {
  color: #00C853;
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url(Whitney.woff) format('woff')
}
